/* div {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
} */

html {
    min-width: 420px;
    /* max-width: 768px; */
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 2.2em;
}

body {
    background-color: rgb(165, 126, 42);
    border: 5px solid black;
    border-radius: 1.5%;
    padding: 10px;
    /* margin: 15px; */
}

.calContainer {
    background-color: rgb(58, 34, 34);
}

.inputBox {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    background-color: rgba(255, 235, 205, 0.658);
    border: 3px solid gray;
    font-size: 1.8em;
    width: 240px;
    height: 40px;    
}

.inputBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
}

.numContainer {
    width: 250px;
    height: 250px;
    /* display: flex; */
    align-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

.numContainer button {
    background-color: transparent;
    border: 3px solid rgb(83, 83, 146);
    border-radius: 30%;
    font-size: 1.2em;
    width: 3em;
    height: 3em;
}

.operatorContainer button {
    background-color: transparent;
    border: 3px solid rgb(146, 83, 83);
    border-radius: 30%;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
}

.resetContainer button {
    background-color: transparent;
    border: 3px solid rgb(83, 146, 109);
    border-radius: 30%;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
}

.num, .operator, .reset {
    display: flex;
    align-items: center;
    justify-content: center;
}

#num0 {
    grid-row: 4 /span 1;
    grid-column: 2;
}

.operatorContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 25px;
}

.resetContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 25px;
}

.calContainer, .inputBoxContainer, .numContainer, .operatorContainer, .resetContainer {
    border: 3px solid gray;
    border-radius: 3%;
    padding: 10px;
    margin: 15px;
}

h1, footer p {
    text-align: center;
}

.inputButtons {
    display: grid;
}

.numContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.operatorContainer {
    display: flex;
}

footer p {
    font-size: 1.2em;
}

@media (min-width: 520px) {
    body {
        background-color: skyblue;
    }
}

@media (min-width: 769px) {
    body {
        background-color: gray;
    }
}